

<div class="beerContainer"> 
{{#each beers}}
    <div class="beerCards">
        <img class="imgCard2" src="{{image_url}}" alt="{{name}}" height="auto" width="70px"/>
        <h3>{{name}}</h3>
        <br>
        <p>{{description}} <br> <br><br> <cite>{{tagline}}</cite> </p>
        
        <hr>

    </div>
    
{{/each}}
</div>



    {{!-- Display an image, name, description and tagline. --}}