<div class="random-beer">
    
        <img class="imgCard" src="{{beer.image_url}}" alt="{{beer.name}}" height="auto" width="120px"/>
        
        <section class="beerInfo">
        <h2>{{beer.name}}</h2>
        <p style="padding-top:5px">{{beer.description}}</p>
        <br>
        <cite>{{beer.tagline}}</cite>
        <br>
        <h3>Food Paring Ideas</h3>
        <p style="padding-top:5px">{{beer.food_pairing}}</p>
        <br>
        <h3>Brewers Tips</h3>
        <p style="padding-top:5px">{{beer.brewers_tips}}</p>
        <br>
<hr>
        </section>
        


        {{!-- image, name, description, tagline, food pairing and brewer tips. --}}

</div>